.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
html {
  overflow: hidden;
}
#love * {
  margin: 0;
  padding: 0;
}
#love .title {
  font-size: 18px;
  text-align: center;
}
#love .main {
  padding: 5px;
  margin-top: 10px;
  letter-spacing: 1px;
  transition: color 3s;
}
#love .end {
  font-family: 正楷;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}
.aixin {
  font-size: 20px;
  position: fixed;
}
