@font-face {
  font-family: "iconfont"; /* Project id 2590863 */
  src: url('iconfont.woff2?t=1622732854370') format('woff2'),
       url('iconfont.woff?t=1622732854370') format('woff'),
       url('iconfont.ttf?t=1622732854370') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e7cd";
}

.icon-aixinhua:before {
  content: "\e609";
}

.icon-aixin1:before {
  content: "\e85c";
}

.icon-aixin2:before {
  content: "\e68e";
}

.icon-love-01:before {
  content: "\e71b";
}

.icon-aixin3:before {
  content: "\e608";
}

